@model TicketPlanetV2.BAL.GenericModel.ViewModel.GenericViewModel
<div class="prs_upcom_slider_main_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="prs_heading_section_wrapper">
                    <h2> Movies</h2>
                </div>
            </div>
            
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="best">

                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">

                            <div class="prs_contact_input_wrapper">
                                <select id="drpCinemaCompany" class="form-control" onchange="GetCinemaLoactions()">

                                    <option value="1">Genesis Cinema's</option>
                                    <option value="3">Film House Cinema's</option>
                                    <option value="2">Maturion Cinema's</option>
                                </select>

                        

                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">

                            <div class="prs_contact_input_wrapper">
                                <select id="drpLocation" class="form-control">
                                </select>

                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">

                            <div class="prs_contact_input_wrapper">
                                <input type="text" id="textSearchMovie" onkeyup="SearchMovie()" placeholder="Search for Movie Name..." style="height:30px;" />

                            </div>
                        </div>
                    </div>

                    <div class="prs_upcom_slider_slides_wrapper" id="FilmHouse" style="display:none">
                        <div class="owl-carou">
                            <div class="item">
                                <div class="row">
                                    <div id="OthersFilmHouse">

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>


                </div>

              
            </div>
        </div>
    </div>
</div>
<script src="~/js/jquery_min.js"></script>
<script>
    jQuery(document).ready(function () {
        //alert("Test")
        var cinema = $("#drpCinemaCompany").val();
        $.ajax({
        url: "@Url.Action("GetCinemaLocation", "Movies")",
        data: { cinema: cinema },
        dataType: "json",
        type: "POST",

            success: function (data)
            {
                console.log("Result",data)
            $("#drpLocation").html("");
            $.each(data, function (item, lct) {
                // alert(lct.LocationName)
                $("#drpLocation").append($('<option></option>').val(lct.Itbid).html(lct.CinemaName))
            })
            //$("#drpLocation").niceSelect('update'); //Tell the plugin to recreate the DIV.
            }
        });

          var company = $('#drpCinemaCompany').val();
          var location = 1;

        //alert(company)
        //alert(location)
    if (location != null && company != null)
    {
        $('#OthersFilmHouse').html('');
        $.ajax({
            url:  "@Url.Action("GetMoviesViaLocation", "Movies")",
            type: 'POST',
            cache: false,
            dataType: 'html',
            data: { company: company, location: 1 },
            success: function (data, textStatus, XMLHttpRequest) {
                if (data !== null)
                {

                    $('#FilmHouse').show();
                    $('#OthersFilmHouse').html('');
                    $('#OthersFilmHouse').html(data);

                }


            },

            error: function (xhr, ajaxOptions, thrownError) {
                $('#screenDiv').hide();
            },


        });

    }
    });
    
</script>